
<div style="text-align: center">
    <h5>Currently in</h5>
    <h3>{{city}}</h3>
    <h4>{{temperature_in_f}} F | {{temperature_in_c}} C</h4>
    <h4>{{desctiprion}}</h4>
    <p><em>Last updated {{utc_update_time}} GMT</em></p>
</div>